:root {
	--accent-color-light: #008000;
	--accent-color-dark: var(--accent-color-light);
	--button-active-background: #0B550B;
	--scrollbar-track: var(--primary-color);
	--scrollbar-color: var(--accent-color);
}
