---
title: Home
layout: default
---
<dialog id="coming-soon" class="card shadow-dark animation-speed-normal animation-ease-in-out fadeInUp">
	<h1 class="font-title center">
		{% include icon.html icon='logo' %}
		<span>KernValley.us</span>
	</h1>
	<figure class="center">
		{% include imgur.html url='https://i.imgur.com/975r1K6.png' sizes='60vw' %}
	</figure>
	<h2>Coming soon...</h2>
	<div class="flex row big center">
		<a href="https://twitter.com/kern_valley" rel="nofollow external" title="Twitter" target="_blank">
			{% include icon.html icon='twitter' %}
		</a>
		<span>&nbsp;</span>
		<a href="https://www.linkedin.com/company/kernvalley-us/" rel="nofollow external" title="LinkedIn" target="_blank">
			{% include icon.html icon='linkedin' %}
		</a>
	</div>
</dialog>
