---
title: Home
layout: default
---
<dialog id="coming-soon" class="card shadow-dark animation-speed-normal animation-ease-in-out fadeInUp">
	<h1 class="font-title">Coming Soon...</h1>
	<div class="flex row big center">
		<a href="https://twiter.com/kern_valley" rel="nofollow external" title="Twitter" target="_blank">
			{% include icon.html icon='twitter' %}
		</a>
		<span>&nbsp;</span>
		<a href="https://www.linkedin.com/company/kernvalley-us/" rel="nofollow external" title="LinkedIn" target="_blank">
			{% include icon.html icon='linkedin' %}
		</a>
	</a>
</dialog>
