<leaflet-marker latitude="{{ include.geo.latitude }}" longitude="{{ include.geo.longitude }}" title="{{ include.name }}" slot="markers" id="{{ include.identifier }}" itemtype="https://schema.org/Campground" itemscope=""{% if include.closed == true %} class="closed" hidden=""{% endif %}>
	<div itemprop="geo" itemtype="https://schema.org/GeoCoordinates" itemscope="" hidden="">
		<meta itemprop="latitude" content="{{ include.geo.latitude }}" />
		<meta itemprop="longitude" content="{{ include.geo.longitude }}" />
	</div>
	<meta itemprop="priceRange" content="{{ include.priceRange | default: '$' }}">
	<img slot="icon" src="{{ include.icon | default: '/img/adwaita-icons/actions/mark-location.svg' }}" height="32" width="32" alt="icon" loading="lazy" decoding="async "/>
	<div slot="popup">
		<h4 itemprop="name">{{ include.name }}</h4>
		{% if include.image %}<figure itemprop="image" itemtype="https://schema.org/ImageObject" itemscope="">
			<img src="{{ include.image.url }}" alt="{{ include.name }}" height="{{ include.image.height }}" width="{{ include.image.width }}" decoding="async" loading="lazy" crossorigin="anonymous" itemprop="url" />
			{% if include.image.caption %}<figcaption itemprop="caption">{{ include.image.caption }}</figcaption>{% endif %}
		</figure>{% endif %}
		{% if include.description %}<blockquote itemprop="description">{{ include.description }}</blockquote>{% endif %}
		{% if include.address %}<address itemprop="address" itemtype="https://schema.org/PostalAddress" itemscope="">
			<meta itemprop="name" content="{{ include.address.name | default: include.name }}" />
			<div>
				<div itemprop="streetAddress">{{ include.address.streetAddress }}</div>
				{% if include.address.postOfficeBoxNumber %}<div itemprop="postOfficeBoxNumber">{{ include.address.postOfficeBoxNumber }}</div>{% endif %}
				<span itempro="addressLocality">{{ include.address.addressLocality }}</span>,
				<span itemprop="addressRegion">{{ include.address.addressRegion | default: 'CA' }}</span>
				{% if include.address.postalCode %}<span itemprop="postalCode">{{ include.address.postalCode }}</span>{% endif %}
			</div>
		</address>{% endif %}
		<footer>
			{% if include.url %}<div>
				<a href="{{ include.url }}" itemprop="url" rel="noopener external">
					{% include icon.html icon="link-external" height="16" width="16" %}
					<span>{{ include.url | replace: 'https://', '' | replace: 'http://', '' | replace: 'www.', '' }}</span>
				</a>
			</div>{% endif %}
			{% if include.telephone %}<div>
				<a href="tel:{{ include.telephone }}" itemprop="telephone" content="{{ include.telephone }}">
					{% include icon.html icon="call-start" height="16" width="16" %}
					<span>{{ include.telephone | replace: '+1-', '' }}</span>
				</a>
			</div>{% endif %}
			{% if include.email %}<div>
				<a href="mailto:{{ include.email }}" itemprop="email">
					{% include icon.html icon="mail" height="16" width="16" %}
					<span>{{ include.email }}</span>
				</a>
			</div>{% endif %}
			<button type="button" is="share-button" url="/#{{ include.identifier }}" text="{{ include.name }}" hidden="">
				{% include icon.html icon="share" width="16" height="16" %}
				<span>Share</span>
			</button>
		</footer>
	</div>
</leaflet-marker>
